ion-slides {
    height: 100%;
    font-family: "Heebo-Bold";
  }

  .swiper-slide {
    display: block;
  }

  .img1{
    margin-top: 5%;
    max-height: 40%;
    max-width: 65%;
    margin-left: 18%;
  }

  .img2{
    margin-top: 5%;
    max-height: 40%;
    max-width: 67%;
    margin-left: 15%;
  }

  .img3{
    margin-top: 5%;
    max-height: 40%;
    max-width: 59%;
    margin-left: 25%;
  }

  p {
    font-size: 20px;
    font-family: "Heebo-Light";
    color: #40926c;
  }

  ion-button{
    font-family: "Heebo-Bold";
  }

  h2{
    font-size: 30px;
    color: #40926c;
  }
