ion-slide{
    display: block;
}

img{
    max-height: 60%;
}

ion-button{
    display: block;
    text-align: center;
}

h3{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 60px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Heebo-Light";
    color: #40926c;
}

h2{
    font-size: 35px;
    font-family: "Heebo-Bold";
    color: #156942;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;

}