ion-toolbar{
    --background: #70e2d3;
    color: white;
}

img{
    max-height: 20%;
    max-width: 50%;
    text-align: center;
    padding: 5%;
}

ion-header{
    display: block;
    text-align: center;
}