ion-content{
  --background :  #eeeeee;
}

ion-toggle {
  --background : #da7481;
  --handle-background: #eb445a;
}

.fondo{
  --background :  #eeeeee;
}

ion-toolbar{
  --background: #5cccbd;
  color: white;
}